@model VerifyEmailViewModel
@{
    ViewData["Title"] = "Quên mật khẩu";
}
<div class="flex h-screen items-center justify-center">
    <div class="w-full rounded-lg border bg-white p-10 dark:bg-neutral-800 dark:border-gray-700 sm:max-w-md md:mt-0">
        <h2 class="mb-4 text-2xl font-bold dark:text-white">Nhập email để tạo lại mật khẩu</h2>
    </div>
</div>
