@using InsuranceWebApp.Data
@using InsuranceWebApp.Helper
@model List<HospitalDTO>
@{
    ViewData["Title"] = "Bản đồ";
}

<div class="currentLange"></div>
<div id="map" class="w-100 h-[400px]"></div>
<button class="@Css.BtnSecondary mt-2">
    <heroicon class="size-4" name="ArrowPath" />
</button>
<div class="text-gray-800 dark:text-neutral-200">Cơ sở y tế gần nhất</div>
<ul id="location-list" class="mx-2 my-4 divide-y shadow-md sm:mx-0"></ul>









<script src="~/lib/maplibre-gl/maplibre-gl.min.js" asp-append-version="true"></script>
<script src="~/js/map.js" asp-append-version="true"></script>